.damn {
  height: 100%;
  width: 100%;
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}



.home {
	box-shadow:inset 0px 1px 3px 0px #181a19;
	background:linear-gradient(to bottom, #3d4140 5%, #3d3d3d 100%);
	background-color:#2e3130;
	border-radius:14px;
	border:1px solid #1a1c1b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 23px;
	text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
  margin: 25px;
}
.home:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}


img {
  -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
      -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
      box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);

}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
  filter: brightness(70%);
  display: flex;
  flex-direction: row;

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


#overlay{
  opacity: 1;
  background-color: rgb(17, 17, 17);
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000; 
}

  
  #img {
    text-align: center;
    font-size: 5em;
    letter-spacing: 8px;
    font-weight: 400;
    /*Create overlap*/
    max-height: 400px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
    display: inline-block;
    line-height: 0;
    position: relative;
    order: 2;
    
    /*Animation*/
  
    
    animation: glitch1 1.5s infinite;
  }
  
  #img:nth-child(2) {
    animation: glitch2 3s infinite;

    
  }
  
  #img:nth-child(3) {
    
    animation: glitch3 2.5s infinite;
  }
  /*Keyframes*/
  
  @keyframes glitch1 {
    
    0% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
      -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
      box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    filter: hue-rotate(50px);
      transform: none;
      opacity: 1;
    }
    7% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
        filter: blur(2px) grayscale(79%) saturate(100%);
        transform: skew(-0.8deg, -2.3deg);
        opacity: 0.75;
    }
    10% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
        filter: blur(0px) grayscale(59%) saturate(120%);
      transform: none;
      opacity: 1;
    }
    27% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
        filter: blur(1px) grayscale(69%) saturate(150%);
      transform: none;
      opacity: 1;
    }
    30% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
        filter: blur(1px) grayscale(99%) saturate(100%);
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
        filter: blur(0px) grayscale(79%) saturate(80%);
      transform: none;
      opacity: 1;
    }
    52% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
        filter: blur(2px) grayscale(69%) saturate(40%);
      transform: none;
      opacity: 1;
    }
    55% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
        filter: blur(5px) grayscale(99%) saturate(80%);
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
        filter: blur(0px) grayscale(59%) saturate(120%);
      transform: none;
      opacity: 1;
    }
    72% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
        filter: blur(1px) grayscale(79%) saturate(170%);
      transform: none;
      opacity: 1;
    }
    75% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
        filter: blur(2px) grayscale(99%) saturate(220%);
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
        filter: blur(0px) grayscale(79%) saturate(250%);
      transform: none;
      opacity: 1;
    }
    100% {
    -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
      filter: blur(4px) grayscale(59%) saturate(120%);
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes glitch2 {
    0% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
        transform: none;
        opacity: 0.25;
    }
    7% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
        transform: translate(-2px, -3px);
        opacity: 0.5;
    }
    10% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
        transform: none;
        opacity: 0.25;
    }
    27% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
      transform: none;
      opacity: 0.25;
    }
    30% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
      transform: none;
      opacity: 0.25;
    }
    52% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
      transform: none;
      opacity: 0.25;
    }
    55% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
      transform: translate(-7px, -1px);
      opacity: 0.5;
    }
    50% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
      transform: none;
      opacity: 0.25;
    }
    72% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
      
      transform: none;
      opacity: 0.25;
    }
    75% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
      transform: none;
      opacity: 0.25;
    }
    100% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
      transform: none;
      opacity: 0.25;
    }
  }
  
  @keyframes glitch3 {
    0% {

-webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
          transform: none;
      opacity: 0.25;
    }
    7% {

-webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
          transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
        
        -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
      transform: none;
      opacity: 0.25;
    }
    27% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
      transform: none;
      opacity: 0.25;
    }
    30% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
      transform: none;
      opacity: 0.25;
    }
    52% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
      transform: none;
      opacity: 0.25;
    }
    55% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
      transform: none;
      opacity: 0.25;
    }
    72% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
      transform: none;
      opacity: 0.25;
    }
    75% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
      transform: none;
      opacity: 0.25;
    }
    100% {
      -webkit-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    box-shadow: inset -1px -1px 108px 47px rgba(0,0,0,0.75);
    
      transform: none;
      opacity: 0.25;
    }
  }



  